<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCEWn_P_PbqMp6mKoPIJMeWUboT3-3P9kQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1062918026479</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vatix.app</string>
	<key>PROJECT_ID</key>
	<string>vatix-79cde</string>
	<key>STORAGE_BUCKET</key>
	<string>vatix-79cde.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1062918026479:ios:cc36fb414780e63acc171a</string>
</dict>
</plist>